# Preprocessing
Following metrics from: https://github.com/TheD2Lab/Eye.Tracking.Data.Analysis.For.Tobii.2150/tree/master/src/analysis

- Isaac Cortes
- Reynaldo Suarez
- Chris
- X

In [1]:
import pandas as pd
import numpy as np
import random

# Preparation

### Load files

In [2]:
def load_files(participant = 1):
    
    route = f'datasets/p{participant}/p{participant}'
    
    # Load one of the files to create functions
    baseline_cols = ['number', 'time', 'l_screen_x', 'l_screen_y', 'l_cam_x', 'l_cam_y', 'l_distance', 
                'l_pupil', 'l_code', 'r_screen_x', 'r_screen_y', 'r_cam_x', 'r_cam_y', 'r_distance', 
                'r_pupil', 'r_code']

    baseline = pd.read_csv(f'{route}GZD.txt', sep='\t', names = baseline_cols)
    
    # Load FXD graph and tree
    fxd_cols = ['number', 'time', 'duration', 'screen_x', 'screen_y']

    fxd_graph = pd.read_csv(f'{route}.graphFXD.txt', sep='\t', names = fxd_cols)
    fxd_tree = pd.read_csv(f'{route}.treeFXD.txt', sep='\t', names = fxd_cols)

    # Load EVD graph and tree
    evd_cols = ['time ', 'event', 'event_key', 'data1', 'data2', 'description']

    evd_graph = pd.read_csv(f'{route}.graphEVD.txt', sep='\t', names = evd_cols)
    evd_tree = pd.read_csv(f'{route}.treeEVD.txt', sep='\t', names = evd_cols)
    
    # Load GZD graph and tree
    gzd_cols = ['number', 'time', 'l_screen_x', 'l_screen_y', 'l_cam_x', 'l_cam_y', 'l_distance', 
                'l_pupil', 'l_code', 'r_screen_x', 'r_screen_y', 'r_cam_x', 'r_cam_y', 'r_distance', 
                'r_pupil', 'r_code']

    gzd_graph = pd.read_csv(f'{route}.graphGZD.txt', sep='\t', names = gzd_cols)
    gzd_tree = pd.read_csv(f'{route}.treeGZD.txt', sep='\t', names = gzd_cols)

    return baseline, fxd_graph, fxd_tree, evd_graph, evd_tree, gzd_graph, gzd_tree

In [3]:
# TODO:
# Not all numbers 1-36 are participants in folder, use random choose instead with the folder contents
participant = random.randint(1,36)
print(f'Participant: {participant}')

baseline, fxd_graph, fxd_tree, evd_graph, evd_tree, gzd_graph, gzd_tree = load_files(participant)

Participant: 18

## Baseline Analysis

- average pupil size of left eye; 
- average pupil size of right eye; 
- average pupil size of both eyes.

In [4]:
baseline.head()

,number,time,l_screen_x,l_screen_y,l_cam_x,l_cam_y,l_distance,l_pupil,l_code,r_screen_x,r_screen_y,r_cam_x,r_cam_y,r_distance,r_pupil,r_code
0,5,1,-1280,-1024,-1.000,-1.000,-1.000,-1.000,4,-1280,-1024,-1.000,-1.000,-1.000,-1.000,4
1,25,2,-1280,-1024,0.767,0.480,-1.000,-1.000,4,-1280,-1024,0.517,0.496,-1.000,-1.000,4
2,45,3,-1280,-1024,-1.000,-1.000,-1.000,-1.000,4,-1280,-1024,-1.000,-1.000,-1.000,-1.000,4
3,65,4,615,373,0.768,0.479,671.847,2.754,0,611,402,0.518,0.495,676.443,2.712,0
4,85,5,619,369,0.769,0.479,671.847,2.773,0,615,394,0.518,0.495,676.443,2.711,0

## FXD Analysis

- total number of fixations; 
- sum of all fixation duration; 
- mean duration; 
- median duration;
- StDev of durations; 
- Min. duration;
- Max. duration;  
- total number of saccades; 
- sum of all saccade length; 
- mean saccade length;
- median saccade length; 
- StDev of saccade lengths;
- min saccade length; 
- max saccade length; 
- sum of all saccade durations;
- mean saccade duration;
- median saccade duration; 
- StDev of saccade durations; 
- Min. saccade duration;
- Max. saccade duration; 
- scanpath duration; 
- fixation to saccade ratio; 
- sum of all absolute degrees; 
- mean absolute degree; 
- median absolute degree; 
- StDev of absolute degrees; 
- min absolute degree; 
- max absolute degree; 
- sum of all relative degrees; 
- mean relative degree; 
- median relative degree; 
- StDev of relative degrees; 
- min relative degree; 
- max relative degree; 
- convex hull area.

In [5]:
fxd_graph.head()

   number  time  duration  screen_x  screen_y
0       1    97       120       791       385
1       2   257       140       456       306
2       3   416       179       377       223
3       4   615       159       316       232
4       5  1174       140        89       254

In [6]:
fxd_tree.head()

   number  time  duration  screen_x  screen_y
0       1    66       199       635       343
1       2   465       199       713       547
2       3   704       100       657       484
3       4  1004       119       319       228
4       5  1263       479       535       232

## EVD Analysis

- total number of L mouse clicks.

In [7]:
evd_graph.head()

   time          event  event_key  data1  data2 description
0   4832  LMouseButton          1   1266    441         NaN
1   9149  LMouseButton          1    366    368         NaN
2  11511  LMouseButton          1    632    552         NaN
3  26474  LMouseButton          1    711    787         NaN
4  28119  LMouseButton          1    714    786         NaN

In [8]:
evd_tree.head()

   time          event  event_key  data1  data2 description
0   4391  LMouseButton          1     41    570         NaN
1   5379  LMouseButton          1     58    583         NaN
2   9634  LMouseButton          1    677    578         NaN
3  10870  LMouseButton          1    689    586         NaN
4  11628  LMouseButton          1    695    591         NaN

## GZD Analysis

- average pupil size of left eye;
- average pupil size of right eye;
- average pupil size of both eyes.

In [9]:
gzd_graph.head()

,number,time,l_screen_x,l_screen_y,l_cam_x,l_cam_y,l_distance,l_pupil,l_code,r_screen_x,r_screen_y,r_cam_x,r_cam_y,r_distance,r_pupil,r_code
0,17,1,-1280,-1024,0.702,0.448,-1.000,-1.000,4,-1280,-1024,0.447,0.465,-1.000,-1.000,4
1,37,2,-1280,-1024,-1.000,-1.000,-1.000,-1.000,4,-1280,-1024,-1.000,-1.000,-1.000,-1.000,4
2,57,3,-1280,-1024,0.702,0.447,-1.000,-1.000,4,-1280,-1024,0.447,0.465,-1.000,-1.000,4
3,77,4,-1280,-1024,0.702,0.447,-1.000,-1.000,4,-1280,-1024,0.446,0.465,-1.000,-1.000,4
4,97,5,801,373,0.702,0.447,657.898,2.836,0,784,370,0.446,0.465,664.018,2.554,0

In [10]:
gzd_tree.head()

,number,time,l_screen_x,l_screen_y,l_cam_x,l_cam_y,l_distance,l_pupil,l_code,r_screen_x,r_screen_y,r_cam_x,r_cam_y,r_distance,r_pupil,r_code
0,7,1,-1280,-1024,0.787,0.429,-1.000,-1.000,4,-1280,-1024,0.533,0.456,-1.000,-1.000,4
1,27,2,-1280,-1024,-1.000,-1.000,-1.000,-1.000,4,-1280,-1024,-1.000,-1.000,-1.000,-1.000,4
2,47,3,-1280,-1024,0.787,0.429,-1.000,-1.000,4,-1280,-1024,0.533,0.456,-1.000,-1.000,4
3,66,4,626,323,0.786,0.429,662.293,2.667,0,652,348,0.533,0.456,672.009,2.602,0
4,86,5,621,329,0.786,0.429,662.293,2.601,0,654,345,0.532,0.456,672.009,2.590,0